.inner,.buttons {
  grid-column: 2/6;
  margin: 2rem;
}
.inner h2 {
  width: 100%;
  padding: 0.3rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #2d2d2a;
  border: 1px solid #2d2d2a;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons button.next,
button.prev {
  height: fit-content;
  width: 50px;
  font-size: 1.5rem;
  padding: 0.2rem;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #2d2d2a;
  border: 1px solid #2d2d2a;
}

.buttons button.next:hover {
  background-color: #2d2d2a;
  color: #fff;
}
.buttons button.prev:hover {
  background-color: #2d2d2a;
  color: #fff;
}
.buttons button.prev:disabled,
.buttons button.next:disabled {
  background-color: #bbb;
}

@media all and (max-width: 1235px) {
  .inner,.buttons {
    grid-column: 1/-1;
  }
}